<form action="/login" method="POST"> 
    <input type="text" placeholder="enterEmail" name = "email">
    <input type="password" placeholder="enterPasword" name = "password">
    <input type="submit">
</form>