<form action="/register" method="POST">
    <input type="text" placeholder="enterName" name = "name">
    <input type="text" placeholder="enterEmail" name = "email">
    <input type="password" placeholder="enterPassword" name = "password">
    <input type="submit">
</form>